<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default template</title>
    <meta name="description" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

</head>

<body>

    <div class="container">

	<header class="jumbotron subhead" id="overview">
		<h1>Default template</h1>
		<p class="lead">This is what your documentation will look like.</p>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Your project</a>
				<ul class="nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Getting started</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</div>
	</header>
	
	<section>
